<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

  

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-button (click)="hazmeClic()">Hazme CLic!</ion-button>

    <img [src]="imgUrl" height="400 px" width="250px">

    <p>Insertar el nombre del alumno en el campo:</p>

    <ion-input [(ngModel)]="nombreAlumno"></ion-input>

    <ion-label>El alumno se llama: <strong>{{nombreAlumno}}</strong></ion-label>
  </div>

  
</ion-content>
