ion-title{
    text-align: center;
}
ion-content{
    --background: #BB27A7;
}

ion-toolbar{
    --background: #BB27A7;
}
ion-card{
    text-align: center;
    color: black ;
    background-color: white;
}
ion-card-title{
    color: #BB27A7;
    font-size: xx-large;
}
ion-icon{
    font-size: 50px;
    margin-left: 50px;
}